<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <title>Modelo</title>
</head>

<body>
    <section class="container">
        <h1> TITULO BACANA </h1>

        <p>
           batata!
        </p>
  


    </section>

    <script src="assets/js/bundle.js"></script>
</body>

</html>