<%-include('includes/head') %>
<%-include('includes/nav') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
            <h1 class="display-3 text-center"> Agenda</h1>
            <p class="text-center lead">A página que você procura não existe.</p>

            <div class="row">
                <div class="col my-3">
                    <div class="alert alert-danger">Ok deu erro!</div>
                </div>
            </div>
            <div class="reposnsive-table">
                <table class="table my-3">
                    <tr>
                        <td>batata</td>
                        <td>quente</td>
                        <td>49389058390584</td>
                        <td>batata@email.com</td>
                    </tr>
              
                </table>
            </div>

        </div>
        
        <div class="col-lg-2"></div>

    </div>
</div>

<%-include('includes/footer') %>
