@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
:root {
    --primary-collor : rgb(28, 198, 204);
    --primary-dark : rgb(3, 99, 102);
    --primary-active : rgb(12, 152, 26);
    --font-base : 'Roboto Condensed';
    --font-base-2: 'Lato';
}

* {
    box-sizing: border-box;
    outline: 0;
    
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-collor);
    font-family: var(--font-base), sans-serif;
    
}

.container {
    max-width: 700px;
    margin: 50px auto;
    background: #ffff;
    padding: 20px;
    
}

.form-base h1 {
    align-items: center;
}
.form-base input, .form-base label {
    display: block;
    width: 70%;
    margin-bottom: 10px;
    

}

.form-base input{
    font-size: 16px;
    height: 30px;
    padding: 0 5px;
    border-radius: 5px;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.34);
}

.form-base input:focus {
    outline: 1px solid var(--primary-collor);

}

.form-base button{
    border: none;
    background: var(--primary-collor);
    color: white;
    width: 30%;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 35%;
    
}

.form-base button:hover{
    background: var(--primary-dark);
}

.form-base button:active{
    background: var(--primary-active);
}

div.error-text{
    color: rgba(255, 0, 0, 0.827);
    font-size: 0.7em;
    margin: 5px;
}

