<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <title>Modelo</title>
</head>

<body>
    <section class="container">
        <h1> TITULO BACANA </h1>

       <form class ="form-base" action="/" method="post">
        <label for="">Cliente:</label>
        <input type="text" name="cliente">
        <button>Submit</button>

       </form>
  


    </section>

    <script src="assets/js/bundle.js"></script>
</body>

</html>